$color-primary: #e71a1a;
$color-primary-light: #e22a2a;
$color-primary-lighter: #dd5353;

$color-gray: gray;
$color-gray-dark: #524e4e;
$color-gray-darker: rgb(58, 51, 51);


$color-pink: rgb(229, 149, 163);









